.contentNav{
	overflow: hidden;
	background-color: #432b9b;
  padding: 5px;
}
	.contentLogo{
		float: left;
		cursor: pointer;
	}
  .contentLogo div{
    display: flex;
    justify-content: center;
    align-content: center;
  }
    .logoBoladito{
      height: 1.5em;
      min-height: 35px;
    }
	.contentButtons{
		float: right;
		display: block;
	}
    .contentButtons div{
      display: flex;
      flex-wrap: wrap; 
      justify-content: center;
      align-content: center;	
    }
    .ButtonNav{
      height: 1.5em;
      min-height: 35px;
      padding-left: 7px;
      cursor: pointer;
    }
      .inputSearch{
        height: 1.5em;
        min-height: 35px;
        width: 250px;
        border-radius: 20px;
        padding: 0px 5px;
      }

      @media only screen and (min-width: 300px) { 
        .inputSearch {width: 100%;}
    }
